<p>faq works!</p>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
      integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog=="
      crossorigin="anonymous"
      
    />

    <!-- <link rel="stylesheet" href="styles.css" /> -->
    <title>London South Bank Univeristy FAQ</title>
  </head>
  <body>
    <header>
        <img class="logo" src=" "alt="logo">
        <nav>
            <ul class="nav_links">
                <li><a href="index.html"> Home </a></li>
                <li><a href="https://libguides.lsbu.ac.uk/LSBU-Library-and-Learning-Resources/Home" target="_blank"> Online Library </a></li>
                <li><a href="https://vle.lsbu.ac.uk/my/" target="_blank"> VLE </a></li>
                <li><a href="https://www.outlook.com/lsbu.ac.uk" target="_blank"> Student Email </a></li>
                <!-- <li><a href="contact.html"> Email a student </a></li> -->
            </ul>
        </nav>
    </header>

    <h1>Frequently Asked Questions</h1>
    <!-- <h2>by new students</h2> -->
    <div class="faq-container">

      <!-- beginning of question box -->
      <div class="faq">
        <h3 class="faq-title">Lorem Ipsum blah blah</h3>

        <p class="faq-text">Lorem Ipsum blah blah</p>

        <button class="faq-toggle">
          <i class="fas fa-chevron-down"></i>
          <i class="fas fa-times"></i>
        </button>
      
      </div>
      <!-- end of question box -->
      
      <!-- beginning of question box -->
      <div class="faq">
        <h3 class="faq-title">Lorem Ipsum blah blah</h3>

        <p class="faq-text">Lorem Ipsum blah blah</p>

        <button class="faq-toggle">
          <i class="fas fa-chevron-down"></i>
          <i class="fas fa-times"></i>
        </button>
      
      </div>
      <!-- end of question box -->
      
      <!-- beginning of question box -->
      <div class="faq">
        <h3 class="faq-title">Lorem Ipsum blah blah</h3>

        <p class="faq-text">Lorem Ipsum blah blah</p>

        <button class="faq-toggle">
          <i class="fas fa-chevron-down"></i>
          <i class="fas fa-times"></i>
        </button>
      
      </div>
      <!-- end of question box -->

      <!-- beginning of question box -->
      <div class="faq">
        <h3 class="faq-title">Lorem Ipsum blah blah</h3>

        <p class="faq-text">Lorem Ipsum blah blah</p>

        <button class="faq-toggle">
          <i class="fas fa-chevron-down"></i>
          <i class="fas fa-times"></i>
        </button>
      
      </div>
      <!-- end of question box -->

      <!-- beginning of question box -->
      <div class="faq">
        <h3 class="faq-title">Lorem Ipsum blah blah</h3>

        <p class="faq-text">Lorem Ipsum blah blah</p>

        <button class="faq-toggle">
          <i class="fas fa-chevron-down"></i>
          <i class="fas fa-times"></i>
        </button>
      
      </div>
      <!-- end of question box -->

      </div>
    
    <script src="scripts.js"></script>
  </body>
</html>