<p>signup works!</p>
<form #empForm ="ngForm" (ngSubmit)="saveData()" novalidate>
    <table>
      
      <tr>
        <td><label for="name"> First Name</label></td>
        <td><input type="text" id="ename" name="empname" [(ngModel)]="signup.firstname" required minlength="5" ></td>
      </tr>
      <tr>
        <td><label for="email">Email ID</label></td>
        <td><input type="text" id="email" name="email" [(ngModel)]="signup.emailid" required></td>
      </tr>
      <tr>
        <td><label for="pwd">Password</label></td>
        <td><input type="password" id="pwd" name="pwd" [(ngModel)]="signup.password" required></td>
      </tr>
      <tr>
        <!-- <td><button type="submit" (click)=callId()>Register</button></td> -->
        <td><button type="reset" (click)="saveData()" [disabled]="!empForm.valid">Save</button></td>
      </tr>
    </table>