<p>show-account works!</p>
<div class="container">
    <!-- <table>
        <tr>
            <td>Enter Account ID <input type="text" [(ngModel)]="accountid"><button (click)="findAccount()">Search</button> </td>  </tr>
         
    </table> 
<table  class="table">
    <thead style="color: blue;">
        <th>Loan ID</th>
        <th>Applcation ID</th>
        <th>IFSC Code</th>
        <th>Loan Amount</th>
        <th>Account Balance</th>
    </thead>
    <tr *ngFor="let a of ax1">
       <td>{{a.loanid}}</td>
       <td>{{a.applicationid}}</td>
       <td>{{a.ifsccode}}</td>
       <td>{{a.loanamount}}</td>
       <td>{{a.accountbalance}}</td>
    </tr>
</table> -->

<form #accountForm ="ngForm" (ngSubmit)="saveData()" novalidate>
    <table>
      
        
      <tr>
        <td><label for="applicationid">Application ID</label></td>
        <td><input type="number" id="applicationid" name="applicationid" required   [(ngModel)]="account.applicationid"></td>
      </tr>
      <tr>
        <td><label for="loanamount">Loan Amount</label></td>
        <td><input type="number" id="loanamount" name="loanamount" required   [(ngModel)]="account.loanamount"></td>
      </tr>
  
      <tr>
        <td><label for=" interestrate">Interest Rate</label></td>
        <td><input type="number" id=" interestrate" name=" interestrate" required   [(ngModel)]="account.interestrate"></td>
      </tr>
  
      <tr>
        <td><label for="pendingamount"> Pending Amount</label></td>
        <td><input type="number" id="pendingamount" name="pendingamount" required   [(ngModel)]="account.loanamount"></td>
      </tr>
  
      <tr>
        <td><label for="startdate">Start Date</label></td>
        <td><input type="date" id="startdate" name="startdate" required   [(ngModel)]="account.startdate"></td>
      </tr>
  
      <tr>
        <td><label for="enddate">End Date</label></td>
        <td><input type="date" id="enddate" name="enddate" required   [(ngModel)]="account.enddate"></td>
      </tr>
  
      <tr>
        <td><label for="ifsccode">IFSC Code</label></td>
        <td><input type="text" id="ifsccode" name="ifsccode" required   [(ngModel)]="account.ifsccode"></td>
      </tr>
      
      <tr>
        <td><label for="accountbalance">Account Balance</label></td>
        <td><input type="number" id="accountbalance" name="accountbalance" required [(ngModel)]="account.loanamount"></td>
      </tr>

      <button type="submit" >Submit</button>
  
    </table>
    </form>
</div>