
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- <link rel="shortcut icon" href="./assets/icon.jpg"> -->
    <title>Apna Bank</title>
    <!-- <link rel="stylesheet" href="./main.css"> -->
    <!-- <script src="./main.js"></script> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>


<body>
    <div class="main">
        <!-- header section -->
        <div class="header1">
            <div class="logo">
                <img style="height: 11vh;width: auto;" src="">
            </div>
            <div class="nav_bar">
                <ul class="nav_list">
                    <li><a id="one" href="#">Home</a></li>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Features</a></li>
                    <li><a href="#">About us</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
        </div>
        <!-- Getting Money -->
        <div class="getting_money">
            <div class="getting_main">
                <div>
                    <h4 style="color: white;font-size: 2vw;">15-Minute Transfer</h4>
                    <h1 style="color: white;font-size: 4vw;">Getting Money</h1>
                    <h4 style="color: rgb(183, 212, 77);font-size: 2vw;">is now as easy as spending</h4>
                </div>
                <div class="btns">
                    <button>HOW IT WORKS?</button>
                    <button>WHY LOAN GURU</button>
                </div>
            </div>
            <div class="right_div">
                <div class="payment">
                    <h2>Know your eligibiltiy!</h2>
                    <button type="button" (click)="Calulate()">Click me!</button>
                    <!-- <img src="./assets/payments-1.png"> -->
                </div>
                <div class="amount_details">
                    <form>
                        <div>
                            <label>AMOUNT OF MONEY </label><span>&#8360;</span><br>
                            <input type="number" placeholder="Enter Amount">
                        </div>
                        <div>
                            <label>WHEN DID YOU PAY</label><br>
                            <input type="number" placeholder="Enter weeks">
                        </div>
                        <div>
                            <label>Repayment</label><br>
                            <input type="number" placeholder=" Toatal Payable Amount">
                        </div>
                        <div style="margin-top: 47px;">
                            <button class="get_loan">GET YOUR LOAN NOW!</button>
                        </div>
                    </form>
                </div>

            </div>

        </div>
        <!-- process of  money -->
        <div class="money_process">
            <div class="steps">
                <!-- <div class="step1 stepp ">
                    <i class="fa fa-car same_icon"></i>
                    <h2>Contact To Bank</h2>
                </div> -->
                <div class="step2 stepp">

                    <i class="fa fa-car same_icon"></i>
                    <h2>Directly to your Hand</h2>
                    <p>Cum sociis natoque penatibus et magnis. Pro vel nibh et elit mollis commodo et nec</p>
                </div>
                <div class="step3 stepp ">


                    <i class="fa fa-car same_icon"></i>
                    <h2>It’s Fast and Secure</h2>
                    <p>Cum sociis natoque penatibus et magnis. Pro vel nibh et elit mollis commodo et nec</p>
                </div>
            </div>
        </div>
        <!-- application fill -->

        <div class="application">
            <div class="getmoney">
                <h1>Get money right now!</h1>
                <p>FOLLOW THIS EASY STEPS TO GET MONEY WITHIN 15 MINUTES</p>
            </div>
            <div class="application_main">
                <div>
                    <img class="image" src="">
                </div>
                <div class="application_content">
                    <h2>Fill in an application form</h2>
                    <h2>on our website</h2>
                    <pre>Make a request on our website and wait
for response to e-mail within 15-30 minutes 
from the timeof the request during business hours.</pre>
                    <button>GO TO THE FORM</button>
                </div>
            </div>

        </div>
        <!-- manager contact -->
        <div class="manager">
            <div class="manager_main">

                <div class="manager_content">
                    <h1>Our manager will contact you</h1>
                    <h2>to clear up the details</h2>
                    <pre>Make a request on our website and wait for response
to e-mail within 15-30 minutes from the time of the
 request during business hours.</pre>
                    <button>WHAT DETAILS?</button>
                </div>

                <div>
                    <img class="image1" src="">
                </div>
            </div>

        </div>
        <!-- APPROVAL LOAN -->

        <div class="approval">
            <div class="manager_main">
                <div>
                    <img class="image1" src="">
                </div>
                <div class="manager_content">
                    <h1>Receive your money in the most</h1>
                    <h2>convenient way in 15 minutes</h2>
                    <pre>Make a request on our website and wait 
for response to e-mail within 15-30 minutes 
 from the time of the request during business hours.</pre>
                    <button>HOW IT WORKS?</button>
                </div>


            </div>

        </div>

        <!--  right choice -->

        <div class="why_choose">
            <div class="text">
                <h1>LoanGuru is the right choice for you if:</h1>
            </div>
            <div class="click_main">
                <div class="clicks">
                    <div class="click_icon">
                        <i class="fa fa-check-circle check_icon"></i>
                    </div>
                    <div class="click_contect">
                        <h3>YOU ARE 18 OR OLDER</h3>
                        <h4>The minimun age to use our service is 18.</h4>
                    </div>
                </div>
                <div class="clicks">
                    <div class="click_icon">
                        <i class="fa fa-check-circle check_icon"></i>
                    </div>
                    <div class="click_contect">
                        <h3>YOU ARE HONEST AND TRUSTWORTHY</h3>
                        <h4>You deffinitely have to be a nice person.</h4>
                    </div>
                </div>
            </div>
            <div class="click_main">
                <div class="clicks">
                    <div class="click_icon">
                        <i class="fa fa-check-circle check_icon"></i>
                    </div>
                    <div class="click_contect">
                        <h3>YOU ARE A RESIDENT</h3>
                        <h4>Must be a current resident </h4>
                    </div>
                </div>
                <div class="clicks">
                    <div class="click_icon">
                        <i class="fa fa-check-circle check_icon"></i>
                    </div>
                    <div class="click_contect">
                        <h3>YOU HAVE A VALID ADDRESS</h3>
                        <h4>Must be a current resident of the United Kingdom.</h4>
                    </div>
                </div>
            </div>
            <div class="click_main">
                <div class="clicks">
                    <div class="click_icon">
                        <i class="fa fa-check-circle check_icon"></i>
                    </div>
                    <div class="click_contect">
                        <h3>YOU HAVE A REGULAR INCOME</h3>
                        <h4>You must have an income every week whether it be benefits or a job.</h4>
                    </div>
                </div>
                <!-- <div class="clicks">
                    <div class="click_icon">
                        <i class="fa fa-check-circle check_icon"></i>
                    </div>
                    <div class="click_contect">
                        <h3>YOU HAVE A REGULAR INCOME</h3>
                        <h4>You must have an income every week whether it be benefits or a job.</h4>
                    </div>
                </div> -->


            </div>

        </div>
        <!-- choose us -->
        <div class="choose_us">
            <div class="choose_text">
                <h1>Why people choose us</h1>
                <p>WE OFFER A TOTALLY NEW WAY OF BORROWING</p>
            </div>
            <div class="combine3">
                <div class="divs">
                    <h2>Fair Interest rates</h2>
                    <p>Cum sociis natoque penatibus et magnis parturient. Pro vel nibh et elit mollis commodo et nec
                        augue tristique sed</p>
                    <a href="#" class="howit">HOW IT WORKS?</a>
                </div>
                <div class="divs">
                    <h2>Loan up to
                        20000</h2>
                    <p>Cum sociis natoque penatibus et magnis parturient. Pro vel nibh et elit mollis commodo et nec
                        augue tristique sed</p>
                    <a href="#" class="howit">HOW IT WORKS?</a>
                </div>
                <div class="divs">
                    <h2>Lowest APR
                        available to you</h2>
                    <p>Cum sociis natoque penatibus et magnis parturient. Pro vel nibh et elit mollis commodo et nec
                        augue tristique sed</p>
                    <a href="#" class="howit">HOW IT WORKS?</a>
                </div>
            </div>

        </div>
        <!-- footer -->
        <div class="address">
            <div class="address_info">
                <div class="street">
                    <h2 style="color: white;">Street Address</h2>
                    <h3 style="color: white;">
                        kondapur ,betalian roda 4th left 1st building 2nd floor,
                        hyderabad</h3>
                </div>
                <div class="postal">
                    <h2 style="color: white;">Postal Address</h2>
                    <h3 style="color: white;">500084 kondapur Hyderabad
                        Telangana India</h3>
                </div>
            </div>
            <div class="contact_agent">
                <h1 style="color: white;">Contact Our Agent Now!
                </h1>
                <h1 style="color: rgb(172, 231, 63);">1800 123 1234</h1>
            </div>
        </div>
        <div class="footer">
            <div class="footer_main">
                <div class="footer_1">
                    <img class="img_footer" src="">
                    <pre style="color: white; margin: 0px;">You need an valid Proofs to allow 
the money to be transferred to you.</pre>
                </div>
                <div class="footer_2">
                    <h2 style="color: rgb(171, 247, 72);">OPEN HOURS</h2>
                    <ul class="hours_list">
                        <li class="hrs">Monday 11am-7pm</li>
                        <li class="hrs">Tuesday-Friday 11am-8pm</li>
                        <li class="hrs">Saturday 10am-6pm</li>
                        <li class="hrs">Sunday 11am-6pm</li>
                    </ul>
                </div>
                <div class="footer_3">
                    <h2 style="color: rgb(171, 247, 72);">EXTRA LINKS</h2>
                    <ul class="hours_list">
                        <li><a class="hrs" href="one"> About</a></li>
                        <li><a class="hrs" href="#"> Services</a></li>
                        <li><a class="hrs" href="#"> Company news</a></li>
                        <li><a class="hrs" href="#"> Investor relations</a></li>
                    </ul>
                </div>
                <div class="footer_4">
                    <h2 style="color: rgb(171, 247, 72);">SOCIALS</h2>
                    <ul class="hours_list">
                        <li><a class="hrs" href="https://twitter.com/"> Twitter</a></li>
                        <li><a class="hrs" href="https://www.instagram.com/"> Instagram</a></li>
                        <li><a class="hrs" href="https://www.facebook.com/"> Facebook</a></li>
                        <li><a class="hrs" href="https://www.skype.com/en/"> Skype</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <footer>
            <div class="policy">
                <p>Privacy Policy / This is a Loan Guru website © 2021 / All Rights Reserved</p>
            </div>
            <div class="socialmedia">
                <ul class="media_ul">
                    <li style="color: white;"><a style="color: white;" href="https://www.facebook.com/"><i class="fa fa-facebook-square"></i></a></li>
                    <li style="color: white;"><a class="hrs" href="https://twitter.com/"><i class="fa fa-linkedin-square"></i></a></li>
                        <li style="color: white;"><a class="hrs" href="https://www.instagram.com/"><i class="fa fa-instagram"></i></a></li>
                        <li style="color: white;"><a class="hrs" href="https://www.youtube.com/"><i class="fa fa-youtube-play"></i></a></li>
                </ul>
            </div>
        </footer>

    </div>

</body>

</html>