
<!--<app-show-account></app-show-account>-->
<!-- <app-document></app-document> -->
<!-- <app-searchloandetails></app-searchloandetails> -->
<!-- <app-show-details></app-show-details> -->
 <!-- <div> -->
  <!-- <a routerLink="signup">Signup Details</a> -->
  <!-- <a routerLink="">Customer Details</a> -->
   <!-- <a routerLink="customer">Customer Details</a>
  <a routerLink="document">Documents</a>
  <a routerLink="account">Account Details</a>
  <a routerLink="application">Application Details</a>
  <a routerLink="calculator">Calculator</a>
  <a routerLink="home">Home</a>
</div>
<div>
  <router-outlet></router-outlet>
</div>  -->
<!-- <app-login></app-login> -->
<!-- <app-calculator></app-calculator> -->
<!-- <app-home></app-home> -->
<!-- <app-faq></app-faq> -->
<!-- <app-admin></app-admin> -->
<!-- <app-signup></app-signup> -->
<!-- <app-show-details></app-show-details> -->
<!-- <app-login></app-login> -->
<!-- <a routerLink="signup">Signup Details</a> -->


  <!-- <a routerLink="login">Login Details</a>  
   <a routerLink="">Customer Details</a>   
  <a routerLink="customer">Customer Details</a>
  <a routerLink="document">Documents</a>
  <a routerLink="application">Application Details</a>
  <a routerLink="adminlogin">Admin Login</a>
  <a routerLink="admin">Admin</a>
  <a routerLink="account">Account Details</a>
  <a routerLink="faq">FAQ</a>
 
  <a routerLink="calculator">Calculator</a>
  <a routerLink="home">Home</a>
  <a routerLink="home1">Home1</a> -->
  <!-- <div class="bimage"> -->
    
  <nav>
  
    <div class="logo"> <h1 style="color: #00b894; font-size: x-large;"> LTI HOME LOAN </h1> </div>
     <div class="menu">
     
     <a routerLink="profiledashboard"></a>  
       <a routerLink="document"></a>
       <a routerLink="application"></a>
       <a routerLink="adminlogin"></a>
       <a routerLink="admin"></a>
       <a routerLink="account"></a>
       <a routerLink="login">Login</a>
       <a routerLink="customer">Customer</a>
       <a routerLink="faq">FAQ</a>
       <a routerLink="calculator">Calculator</a>
       <a routerLink="home">Home</a>
     
     
     </div>
   </nav>
  
     
 
   <div class="container-fluid">
     <router-outlet></router-outlet>
   </div>

  
   <footer class="footer">
     <div class="container">
             <div class="row">
                     <div class="footer-col">
                             <h4>company</h4>
                             <ul>
                                     <li><a href="aboutus">about us</a></li>
                                     <li><a href="#">our services</a></li>
                                     <li><a href="#">privacy policy</a></li>
                                     <li><a href="#">affiliate program</a></li>
                             </ul>
                     </div>
                     <div class="footer-col">
                             <h4>Useful Links</h4>
                             <ul>
                                     <li><a href="#">Important Messages</a></li>
                                     <li><a href="#">RBI Kehta Hai</a></li>
                                     <li><a href="#">Our Corporate Commitment</a></li>
                             </ul>
                     </div>
               
                     <div class="footer-col">
                             <h4>follow us</h4>
                             <div class="social-links">
                                     <a href="#"><i class="fab fa-facebook-f"></i></a>
                                     <a href="#"><i class="fab fa-twitter"></i></a>
                                     <a href="#"><i class="fab fa-instagram"></i></a>
                                     <a href="#"><i class="fab fa-linkedin-in"></i></a>
                             </div>
                     </div>
             </div>
     </div>
   
   </footer>
  <!-- </div> -->
