
<!--<app-show-account></app-show-account>-->
<!-- <app-document></app-document> -->
<!-- <app-searchloandetails></app-searchloandetails> -->
<!-- <app-show-details></app-show-details> -->
 <!-- <div> -->
  <!-- <a routerLink="signup">Signup Details</a> -->
  <!-- <a routerLink="">Customer Details</a> -->
   <!-- <a routerLink="customer">Customer Details</a>
  <a routerLink="document">Documents</a>
  <a routerLink="account">Account Details</a>
  <a routerLink="application">Application Details</a>
  <a routerLink="calculator">Calculator</a>
  <a routerLink="home">Home</a>
</div>
<div>
  <router-outlet></router-outlet>
</div>  -->
<!-- <app-login></app-login> -->
<!-- <app-calculator></app-calculator> -->
<!-- <app-home></app-home> -->
<!-- <app-faq></app-faq> -->
<!-- <app-admin></app-admin> -->
<!-- <app-signup></app-signup> -->
<!-- <app-show-details></app-show-details> -->
<!-- <app-login></app-login> -->
<!-- <a routerLink="signup">Signup Details</a> -->


  <a routerLink="login">Login Details</a>  
  <!-- <a routerLink="">Customer Details</a>   -->
  <a routerLink="customer">Customer Details</a>
  <a routerLink="document">Documents</a>
  <a routerLink="application">Application Details</a>
  <a routerLink="adminlogin">Admin Login</a>
  <a routerLink="admin">Admin</a>
  <a routerLink="account">Account Details</a>
  <a routerLink="faq">FAQ</a>
 
  <a routerLink="calculator">Calculator</a>
  <a routerLink="home">Home</a>




<div>
  <router-outlet></router-outlet>
</div>