
<div>
    <form #myForm="ngForm" (ngSubmit)="saveData()">
        <table>
            <tr>
                <td><label for="docid">Document ID</label> </td>   
                <td><input  type="number" name="docid" [(ngModel)]="doc.docid" required></td>       
            </tr>
            <tr>
                <td><label for="custid">Customer ID</label> </td>   
                <td><input  type="number" name="custid" [(ngModel)]="doc.custid" required></td>       
            </tr>
            <tr>
                <td><label for="pancardnum">Pan Card Number</label> </td>   
                <td><input  type="text" name="pancardnum" [(ngModel)]="doc.pancardnum" required></td>       
            </tr>
            <tr>
                <td><label for="aadharcardnum">Aadhar Card Number</label> </td>   
                <td><input  type="number" name="aadharcardnum" [(ngModel)]="doc.aadharcardnum" required></td>       
            </tr>
            <tr>
                <td><label for="voteridnum">Voter ID Number</label> </td>   
                <td><input  type="text" name="voteridnum" [(ngModel)]="doc.voteridnum" required></td>       
            </tr>
            <tr>
                <td></td>   
                <td><input type="submit" value="Save" [disabled]="!myForm.valid" ></td>       
            </tr>
            <button type="button" (click)="ApplicationDetails()">Submit</button>
    </table>

    </form>    
</div>