<p>aboutus works!</p>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>

<div class="about-section">
  <h1>About Us Page</h1>
  <p>Humara bank sbse accha hai!!!!</p>
  <p>SherKhan bank is a high quality, customer centric and service driven Bank. Since inception in 2004, SherKhan bank 
    has grown into a ‘Full Service Commercial Bank’ providing a complete range of products, 
    services and technology driven digital offerings, catering to corporate, MSME & retail customers.
     SherKhan bank operates its Investment banking, Merchant banking & Brokerage businesses through YES SECURITIES and its 
     Mutual Fund business through YES Asset Management (India) Limited, both wholly owned subsidiaries of the Bank. 
     Headquartered in Mumbai, it has a pan-India presence across all 28 states and 9 Union Territories in India including
      an IBU at GIFT City, and a Representative Office in Abu Dhab</p>
</div>

<h2 style="text-align:center">Our Team</h2>
<div class="row">
  <div class="column">
    <div class="card">
      <img src="" alt="Jane" style="width:100%">
      <div class="container">
        <h2>Jane Doe</h2>
        <p class="title">CEO & Founder</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>jane@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="" alt="Mike" style="width:100%">
      <div class="container">
        <h2>Mike Ross</h2>
        <p class="title">Art Director</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>mike@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
  
  <div class="column">
    <div class="card">
      <img src="" alt="John" style="width:100%">
      <div class="container">
        <h2>John Doe</h2>
        <p class="title">Designer</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>john@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
</div>

</body>
</html>