 <table border="2">
    <p>
        Enter Customer Id
    </p>

    <tr>
    <td><input type="text" placeholder="Enter Customer ID "  #uphone="ngModel" [(ngModel)]="customerid"><button (click)="searchbycustomerid()">Search</button></td>
    </tr>
</table>
<div>
<br>
<br>
    <table class="table1">
        <thead style="color:green;">
        <th>CustomerId</th>
        <th>Customer Address</th>
        <th>Customer Email-ID</th>
        <th>Customer Annual Income</th>
        <th>Customer Type Of Employment</th>
        <th>Customer Organization Type</th>

        
        </thead>
        <tr *ngFor="let c of cdx">
        <td>{{c.customerid}}</td>
        <td>{{c.address}}</td>
        <td>{{c.emailid}}</td>
        <td>{{c.annualincome}}</td>
        <td>{{c.typeofemployement}}</td>
        <td>{{c.organizationtype}}</td>



        </tr>
    </table>
</div>